/*to enable sticky footer*/
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#main-container {
	min-height: 100%;
	position: relative;
	background-color: #cdcfff;
}

#body-template {
	padding-bottom: 80px;   /* Height of the footer */
}

footer {
	background-color: black;
	color: gray;
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
}

/*deftones homepage link*/
.navbar-brand {
	font-family: Lobster, sans-serif;
	font-size: 30px;
	color: #ffd700!important;
}

footer p {
	text-align: center;
}

.nav_drop {
	margin-top: 50px;  /*drop contents below navbar*/
	padding-top: 50px;  /*add gap between contents and navbar*/
	min-height: 100%;
	background-color: #cdcfff;
}

.band_background {
	background-image: url("images/background.jpg");
	background-size: cover;
	display:flex;
	justify-content: center;
	margin-top: 50px;
}

.news {
	margin: 50px 0px 50px 0px;
	width:500px;
	height:600px;
	overflow-y: auto;
	padding: 40px;
	border: 5px solid black;
	border-radius: 15px;
	background-color: #cdcfff;
	color: black;
}

/*style title of news section*/
.news h1 span {
	text-decoration: underline;
}

.news h1 span span {
	font-family: Lobster, sans-serif;
}

/*make bold first paragraph of news section*/
.news p:first-of-type {
	font-weight: bold;
}

/*video player in news section*/
#Player1 {
	width: 200px;
	margin-bottom: 30px;
}

.store {
	margin: 50px 0px 500px 0px;
	width:500px;
	height:180px;
	padding: 40px;
	border: 5px solid black;
	border-radius: 15px;
	background-color: #cdcfff;
	color: black;
}

.reg_form {
	margin: 50px 0px 50px 0px;
	width:500px;
	height:620px;
	padding: 40px 10px 40px 10px;
	border: 5px solid black;
	border-radius: 15px;
	background-color: #cdcfff;
	color: black;
	overflow-y: auto;
}

/*style reg form input description*/
.field {
	float: left;
	width: 100px;
	text-align: right;
	margin-right: 10px;
}

fieldset legend {
	font-weight: bold;
}

fieldset button {
	float: right;
	width: 70px;
}

#register_button {
	margin-bottom: 30px;
}

/*reg form join button*/
#reg-join {
	margin: 20px 72px 0px 0px;
}

/*reg form cancel button*/
#reg-cancel {
	margin: 20px 20px 0px 0px;
}

/*to clear Tickets button on xs screens*/
#tour-search-input {
	margin-bottom: 20px;
}

table {
	padding-top: 120px;
}

/*merchandise and music links on the store page*/
div> div> p> a {
	font-size: 18px;
}

#music-library-link {
	float: right;
}

/*carousel images*/
.carousel-inner img {
	margin: auto;
	max-height: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*carousel text*/
.item {
	text-align: center;
	color: black;
	margin-bottom: 70px;
}

/*Add gap between carousel and footer*/
.carousel-inner {
	margin-bottom: 50px;
}

/*add gap below video players in band section*/
.video {
	padding-bottom: 50px;
}




@media screen and (min-width:360px){

/*increase size of video player in news section*/
#Player1 {
	width: 280px;
}
}

@media screen and (min-width:400px){

/*increase size of links on store page*/
div> div> p> a {
	font-size: 24px;
}
}

@media screen and (min-width:462px){

/*increase size of video player in news section*/
#Player1 {
	width: 360px;
}

/*improve layout of reg form on larger screens*/
.reg_form {
	padding: 40px 40px 40px 90px;
}
}


/*default bootstrap media queries for sm, md & lg cols*/
@media screen and (min-width:768px){}
@media screen and (min-width:992px){}
@media screen and (min-width:1200px){}
